@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Pangolin');

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .45rem .75rem rgba(96, 155, 202, 0.64); }

.pair{
    text-align: center;
    width: 82.8%;
    margin-left: 10.4%;
    background: rgba(149, 149, 180, 0.49);
    color: #ff812e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*NOT DEFAULT STYLES*/
.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    display: block;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition:all .5s ease;
    color: #000;
    font-family: Impact, serif;

}

.button:hover {
    background-position: left bottom;
    color: #fff;
}

.button:active{
    background-position: left bottom;
    color: #fff;
}

.developer{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    user-select: none;
    color: #000;
}

.hrLast{
    box-shadow: 0 0 10px orangered;
    background: rgba(94, 47, 0, 0.62);
}

.hrLast:last-child{
    visibility: hidden;
}

.dayOfWeek{
    text-align: center;
    font-size: 1.3em;
    text-shadow:0px 0px 7px #00c6ff;
    color: #007bff;
    font-family: 'Pangolin', cursive;
}
